@model IEnumerable<string>
<div id="7">
    @foreach (var item in Model)
    {
        <input type="checkbox" name="Inches[]" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>