@model IEnumerable<Laptop.Models.laptop>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{Html.RenderAction("getCompany", "Laptop"); }
<br />
@{Html.RenderAction("getCPU", "Laptop"); }
<br />
@{Html.RenderAction("getScreenResolution", "Laptop");}
<br />
@{Html.RenderAction("getTypeName", "Laptop");}
<br />
@{Html.RenderAction("getGpu", "Laptop");}
@{Html.RenderAction("getInches", "Laptop"); }
<br />
@{Html.RenderAction("getSpeed", "Laptop"); }
    @*@{Html.RenderAction("getMemory", "Laptop");}
    <br />
    
    @{Html.RenderAction("getRam", "Laptop");}
    <br />
    @{Html.RenderAction("getSpeed", "Laptop"); }
    @*<br />
    @{Html.RenderAction("getWeight", "Laptop");}*@


<input type="button" name="name" onclick="find();" value="Assign" />
<ul id="laptop"></ul>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>


    var uri = "../../api/LaptopAPI"
    $(document).ready(function () {
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        });

    });
    function formatItem(item) {
        return item.Product + ':' + item.ScreenResolution;
    }
    function find() {
        $('#laptop').text('');
        var idString = "";
        var idCompany = $('#2').find('input[type=checkbox]');
        for (var i = 0; i < idCompany.length; i++) {
            if (idCompany[i].checked) {
                if (idString == "") {
                    idString = "2-" + idCompany[i].name;
                }
                else {
                    idString = idString + "_2-" + idCompany[i].name;
                }
            }
        }
        var idCPU = $('#6').find('input[type=checkbox]');
        for (var i = 0; i < idCPU.length; i++) {
            if (idCPU[i].checked) {
                if (idString == "") {
                    idString = "6-" + idCPU[i].name;
                }
                else {
                    idString = idString + "_6-" + idCPU[i].name;
                }
            }
        }
        var idScreen = $('#3').find('input[type=checkbox]');
        for (var i = 0; i < idScreen.length; i++) {
            if (idScreen[i].checked) {
                if (idString == "") {
                    idString = "3-" + idScreen[i].name;
                }
                else {
                    idString = idString + "_3-" + idScreen[i].name;
                }
            }
        }
        var idTypeName = $('#4').find('input[type=checkbox]');
        for (var i = 0; i < idTypeName.length; i++) {
            if (idTypeName[i].checked) {
                if (idString == "") {
                    idString = "4-" + idTypeName[i].name;
                }
                else {
                    idString = idString + "_4-" + idTypeName[i].name;
                }
            }
        }
        var idGpu = $('#10').find('input[type=checkbox]');
        for (var i = 0; i < idGpu.length; i++) {
            if (idGpu[i].checked) {
                if (idString == "") {
                    idString = "10-" + idGpu[i].name;
                }
                else {
                    idString = idString + "_10-" + idGpu[i].name;
                }
            }
        }
        var idInches = $('#5').find('input[type=checkbox]');
        for (var i = 0; i < idInches.length; i++) {
            if (idInches[i].checked) {
                if (idString == "") {
                    idString = "5-" + idInches[i].name;
                }
                else {
                    idString = idString + "_5-" + idInches[i].name;
                }
            }
        }
        var idSpeed = $('#7').find('input[type=checkbox]');
        for (var i = 0; i < idSpeed.length; i++) {
            if (idSpeed[i].checked) {
                if (idString == "") {
                    idString = "7-" + idSpeed[i].name;
                }
                else {
                    idString = idString + "_7-" + idSpeed[i].name;
                }
            }
        }
        @*
        var idMemory = $('#8').find('input[type=checkbox]');
        for (var i = 0; i < idMemo.length; i++) {
            if (idMemory[i].checked) {
                if (idString == "") {
                    idString = "8-" + idMemory[i].name;
                }
                else {
                    idString = idString + "_8-" + idMemory[i].name;
                }
            }
        }
        var idRam = $('#9').find('input[type=checkbox]');
        for (var i = 0; i < idRam.length; i++) {
            if (idRam[i].checked) {
                if (idString == "") {
                    idString = "9-" + idRam[i].name;
                }
                else {
                    idString = idString + "_9-" + idRam[i].name;
                }
            }
        }
        var idWeight  = $('#14').find('input[type=checkbox]');
        for (var i = 0; i < idWeight.length; i++) {
            if (idWeight[i].checked) {
                if (idString == "") {
                    idString = "14-" + idWeight[i].name;
                }
                else {
                    idString = idString + "_14-" + idWeight[i].name;
                }
            }
        }

            *@
        $.getJSON(uri + "/" + idString).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: formatItem(item) }).appendTo($('#laptop'));
            });
        }).fail(function (jqXHR, textStatus, err) {
            $('#laptop').text('Error:' + err);
        });

    }
</script>